/* Bjiela boja teksta */
$light_color: #F2F2F2;

$dark_color: #212529;

$white_color: #fff;

/* Boja sekcije - varijanta 1 */
$sekcija1_color: #0F5530;

/* Boja sekcije - varijanta 2 */
$sekcija2_color: #83A832;

/* Svijetlo zelena */
$svijetlozelena_color: #59B717;

/* Tamno zelena */
$tamnozelena_color: #167906;

/* Svijetlo plava */
$svijetloplava: #D9F8E8;
