/* Bjiela boja teksta */
$white_color: #fff;

/* Boja sekcije - varijanta 1 */
$sekcija1_color: #03262C;

/* Boja sekcije - varijanta 2 */
$sekcija2_color: #0D3036;

/* Svijetlo zelena */
$svijetlozelena_color: #59B717;

/* Tamno zelena */
$tamnozelena_color: #167906;
