<footer>
    <div class="footer-container">
        <div class="footer-sections">
            <h3>Radno vrijeme:</h3>
            <p>Ponedjeljak - Petak:<b>&nbsp;6:00 - 14:00</b></p>
            <p>Subota:<b>&nbsp;6:00 - 12:00</b></p>
            <p>Nedjelja:<b>&nbsp;ne radimo</b></p>
        </div>
        <div class="footer-sections">
            <h3>Kontakt</h3>
            <p>Milovana Gavazzija 2, 10040, Zagreb <br>
               <i>Saša:</i>&nbsp; +38595 8585 746 <br>
               <i>Dijana:</i>&nbsp; +38595 8811 070 <br>
               <i>Email:</i>&nbsp; extrafruttads@gmail.com
            </p>
        </div>
        <div class="footer-sections">
            <h3>O nama</h3>
            <p>Dostava svježeg voća i povrća te <br>
               prodaja/iznajmljivanje sokovnika i <br>
               blendera. 
            </p>
        </div>
        <div class="footer-sections">
            <h3>Naš partner</h3>
            <img src="img/vervita-logo.webp" alt="Vervita logo/logotip">
        </div>
    </div>
    <div class="copyright">
        Copyright © 2023 Extra Frutta
    </div>
</footer>