{{ define "main" }}

      
        

      <div class="container">

        <!----- GLAVNA SEKCIJA ----->
        <section class="main">
          
          <div id="lista" class="hero-text-inverse lista-proizvoda-naslov">
            Lista svih proizvoda
          </div>
    
          <div class="grid">
            <div class="item-wrapper">

                {{ range .Pages }}

            <a href="{{.RelPermalink}}">
              <div class="grid-items grid-item-1">
                 <div class="slika">
                    <img src="/img/vervita-pro-kuvings-sokovnici.webp" alt="">
                 </div>
                 <div class="brend">
                    <img src="/img/logo-kuvings_95_30.webp" alt="">
                 </div>
              </div>
              <div class="item-naslov">
                {{ .Title }}
              </div>
             </a>
             
             {{ end }}
             
            </div>
    
          </div>
    
        </section>
    
    </div>
    
            
 

{{ end }}

      

