{{ define "main" }}

    <section class="single-container">

        <div class="single-header">
            <div class="single-slike">
                <img src="/img/sokovnik-vervita-pro-kuvings-b6000/kuvings-b6000-crveni.jpg" alt=""> 
             </div>
             
             <div class="single-osnovne-info">

                    <h1 class="single-naslov">
                        {{ .Title }}
                    </h1>
        
                    <p class="price">
                        {{ .Params.price}}
                    </p>

                    <div class="boje">
                        {{ with .Params.boje }}

                        {{ range . }}

                            <p>{{ .prva }}</p>
                            <p>{{ .druga }}</p>
                            <p>{{ .treca }}</p>

                        {{ end }}

                        {{ end }}
                    </div>
                    

             </div>
        </div>
       
        <p>
            {{ .Content }}
        </p>
    
    </section>

{{ end }}



