{{ define "main" }}

<section class="single-container">
  <div class="single-header">
    <div class="single-slike">
      <img src="" alt=""/>
    </div>

    <div class="single-osnovne-info">
      <h1 class="single-naslov">{{ .Title }}</h1>

      <p class="price">{{ .Params.price }}</p>

      <div class="boje">
        {{ with .Params.boje }} {{ range . }}
        <p>{{ .prva }}</p>
        <p>{{ .druga }}</p>
        <p>{{ .treca }}</p>

        {{ end }} {{ end }}
      </div>

      <div class="boja.prva"></div>
    </div>
  </div>

  <p>{{ .Content }}</p>
</section>

  {{ partial "home/kako_naruciti.html" }}

  {{ partial "home/o_nama.html" }}

  {{ partial "home/uspjeh.html" }}

{{ end }}
