<section class="kako-naruciti-section">

    <div class="kako-naruciti-container">
        <div class="hero-text center">
            <h2 id="kako-naruciti">Kako naručiti?</h2>
        </div>
        <p class="kako-naruciti-opis">Nakon što se odlučite o proizvodu/paketu koji želite naručiti kontaktirajte nas na mail ili broj telefona.
           Također ćemo Vam odgovoriti na sve nejasnoće i pitanja koja imate.</p>
        <div class="kontakt-kolone">
            <div class="kontakt-kolona">
                <h3>Email:</h3>
                <p>extrafruttads@gmail.com</p>
            </div>
            <div class="kontakt-kolona">
                <h3>Kontakt broj:</h3>
                <p>Dijana: +38595 8811 070</p>
                <p>Saša: +38595 8585 746</p>
            </div>
            <div class="kontakt-kolona">
                <h3>Način plaćanja:</h3>
                <p>R1 gotovinsko</p>
                <p>Virman</p>
            </div>
        
        </div>
    </div>
    
</section>