<section class="o-nama-section">

    <h1 id="o-nama" class="o-nama-naslov">
        Tko smo mi?
    </h1>

    <div class="o-nama-container">

            <div class="o-nama-slika">
                <img src="/img/o-nama-slika-voce-2.png/" alt="">
            </div>

            <div class="o-nama-text">
                <p class="opis-1">
                    Extra Frutta je obrt osnovan <b>05.12.2014</b>&nbsp;godine nakon dugogodišnjeg iskustva u radu s voćem i povrćem.
                    Za to vrijeme skupili smo sva znanja o voću i povrću kao i trgovačke zanate koji su nam danas više nego korisni prilikom vođenja ovog posla.
                </p>
                <br>
                <p class="opis-2">
                    U moru raznoraznih obrta, odlučili smo se istaknuti prvenstveno visokokvalitetnim proizvodima, raznolikom ponudom voća i povrća te visokom razinom dostupnosti naše usluge.
                    Pored dostave direktno na Vašu adresu, nudimo Vam najam i prodaju profesionalnih sokovnika i blendera koji će ne samo ubrzati Vašu uslugu nego i izvući najbolje i najviše iz svakog komada voća ili povrća, čime se smanjuju gubici i povećava efikasnost.
                </p>
            </div>
 
    </div>

</section>



