<section class="o-nama-section">

    <div class="o-nama-container">

        <h1 id="o-nama" class="hero-text-inverse o-nama-naslov">
            Tko smo mi?
        </h1>
        <p class="opis">
            <b><span class="o-nama-zeleni-tekst">O nama</span></b>&nbsp;- Extra Frutta je obrt osnovan <b><span class="o-nama-zeleni-tekst">05.12.2014</span></b>&nbsp;godine nakon dugogodišnjeg iskustva u radu s voćem i povrćem.
               Za to vrijeme skupili smo sva znanja o voću i povrću kao i trgovačke zanate koji su nam danas više nego korisni prilikom vođenja ovog posla.
               U vremenu kad se sve više ljudi iseljava iz Lijepe naše, odlučili smo ostati i pokušati promijeniti i Vaš i naš pristup ne samo voću i povrću, nego i zdravlju.
        </p>
        <br>
        <p class="opis">
            U moru raznoraznih obrta, odlučili smo se istaknuti prvenstveno visokokvalitetnim proizvodima, raznolikom ponudom voća i povrća te visokom razinom dostupnosti naše usluge.
            Pored dostave direktno na Vašu adresu, nudimo Vam najam i prodaju profesionalnih sokovnika i blendera koji će ne samo ubrzati Vašu uslugu nego i izvući najbolje i najviše iz svakog komada voća ili povrća, čime se smanjuju gubici i povećava efikasnost.
            Budite jedan od preko <b><span class="o-nama-zeleni-tekst">100 naših zadovoljnih klijenata</span></b>&nbsp; te dozvolite da Vi, ali i Vaši klijenti iskusite novu razinu okusa i visoku razinu zdravlja.
            Za sve dodatne informacije, slobodno nas kontaktirajte!
        </p>

    </div>

</section>