<!----- LISTA VOĆA I POVRĆA ----->
<div id="voce-povrce" class="ponuda-container">
    <div class="popis-naslov">
      Raznovrsna ponuda voća i povrća
    </div>
    <div class="popis-wrapp">
      <div class="lijevi-dio-popisa">
        <ul>
          <li>Salate</li>
          <li>Lisnato povrće</li>
          <li>Začinsko i Dekorativno Bilje</li>
          <li>Rajčice</li>
          <li>Paprike</li>
          <li>Plodovito Povrće</li>
          <li>Korjenasto Povrće</li>
          <li>Kupusnjače</li>
          <li>Luk i Lukovice</li>
          <li>Krumpir i Batati</li>
        </ul>
      </div>
      <div class="desni-dio-popisa">
        <ul>
          <li>Grahovice i Mahunarke</li>
          <li>Gljive i Šparoge</li>
          <li>Agrumi</li>
          <li>Kruške i Jabuke</li>
          <li>Sezonsko Voće</li>
          <li>Egzotično Voće</li>
          <li>Bobičasto Voće</li>
          <li>Orašidi i Sjemenke</li>
          <li>Suho Voće</li>
          <li>Ukiseljeno Povrće</li>
          <i class="fa-regular fa-check fa-beat" style="color: #167906;"></i>
        </ul>
      </div>
    </div>

    <div class="upute-wrapp">
      <div class="upute">
        <ul>
          <li>Dostava voća i povrća svaki dan na vašu adresu - <b>Narudžbe primamo dan ranije</b></li>
          <li>Ako od nas naručujete voće i povrće na dnevnoj bazi, dajemo sokovnik u besplatni najam</li>
          <li>Minimalna narudžba <b>10-20kg</b></li>
          <li>Mjesečni najam sokovnika <b>50€ + PDV</b></li>
          <li>Edukacija za sokovnike i blendere na Vašoj adresi</li>
          <li>Servis i popravak <b>unutar 24 sata</b></li>
        </ul>
      </div>
    </div>

    <div class="btn-wrapp">
        <button class="btn">PREUZMI CIJELU LISTU</button>
    </div>

  </div>