<!----- KATALOG PROIZVODA ----->
<div class="container">

    <!----- GLAVNA SEKCIJA ----->
    <section class="main">
      
      <div id="lista" class="hero-text-inverse lista-proizvoda-naslov">
        Lista svih proizvoda
      </div>

      <div class="grid">
        <div class="item-wrapper">
          <div class="grid-items grid-item-1">
             <div class="slika">
                <img src="/img/vervita-pro-kuvings-sokovnici.png" alt="">
             </div>
             <div class="brend">
                <img src="/img/logo-kuvings_95_30.png" alt="">
             </div>
          </div>
          <div class="item-naslov">
            VERVITA PRO / KUVINGS SOKOVNICI
          </div>
        </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="/img/vervita-xxl-sokovnici.png" alt="">
               </div>
               <div class="brend">
                  <img src="/img/logo-kuvings_95_30.png" alt="">
               </div>
            </div>
            <div class="item-naslov">
              VERVITA XXL SOKOVNCI
            </div>

          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="/img/vervita-mini-sokovnik.png" alt="">
               </div>
               <div class="brend">
                  <img src="/img/logo-kuvings_95_30.png" alt="">
               </div>
            </div>
            <div class="item-naslov">
              VERVITA MINI SOKOVNIK
            </div>

          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="/img/blendtech-blender.png" alt="">
               </div>
               <div class="brend">
                  <img src="/img/logo-kuvings_95_30.png" alt="">
               </div>
            </div>
            <div class="item-naslov">
              BLENDTEC BLENDERI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="/img/blendtech-komercijalni-blenderi.png" alt="">
               </div>
               <div class="brend">
                  <img src="/img/logo-kuvings_95_30.png" alt="">
               </div>
            </div>
            <div class="item-naslov">
              BLENDTEC KOMERCIJALNI BLENDERI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="/img/omniblend-v-blenderi.png" alt="">
               </div>
               <div class="brend">
                  <img src="/img/logo-kuvings_95_30.png" alt="">
               </div>
            </div>
            <div class="item-naslov">
              OMNIBLEND V BLENDERI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="/img/superbland-blenderi.png" alt="">
               </div>
               <div class="brend">
                  <img src="/img/logo-kuvings_95_30.png" alt="">
               </div>
            </div>
            <div class="item-naslov">
              SUPERBLEND BLENDERI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="/img/kuvings-vakumski-blenderi.png" alt="">
               </div>
               <div class="brend">
                  <img src="/img/logo-kuvings_95_30.png" alt="">
               </div>
            </div>
            <div class="item-naslov">
              KUVINGS VAKUUMSKI BLENDERI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="/img/dehidratori.png" alt="">
               </div>
               <div class="brend">
                  <img src="/img/logo-kuvings_95_30.png" alt="">
               </div>
            </div>
            <div class="item-naslov">
              DEHIDRATORI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="/img/gulilice.png" alt="">
               </div>
               <div class="brend">
                  <img src="/img/logo-kuvings_95_30.png" alt="">
               </div>
            </div>
            <div class="item-naslov">
              GULILICE
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="/img/santos-komercijalni-sokovnici.png" alt="">
               </div>
               <div class="brend">
                  <img src="/img/logo-kuvings_95_30.png" alt="">
               </div>
            </div>
            <div class="item-naslov">
              SANTOS KOMERCIJALNI SOKOVNICI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="/img/rezervni-dijelovi.png" alt="">
               </div>
               <div class="brend">
                  <img src="/img/logo-kuvings_95_30.png" alt="">
               </div>
            </div>
            <div class="item-naslov">
              REZERVNI DIJELOVI
            </div>
          </div>

      </div>

    </section>

</div>

   