<!----- KATALOG PROIZVODA ----->
<div class="container">

    <!----- GLAVNA SEKCIJA ----->
    <section class="main">

      <div id="lista" class="hero-text-inverse lista-proizvoda-naslov">
        Lista svih proizvoda
      </div>

      <div class="grid">
        <div>
         <a href="/vervita-pro-kuvings-sokovnici/">
          <div class="grid-items">
             <div class="slika">
                <img src="img/vervita-pro-kuvings-sokovnici.webp/" alt="">
             </div>
          </div>
          <div class="item-naslov">
            VERVITA PRO / KUVINGS SOKOVNICI
          </div>
         </a>
        </div>

          <div>
            <a href="/vervita-xxl-sokovnici/">
               <div class="grid-items">
                  <div class="slika">
                     <img src="img/vervita-xxl-sokovnici.webp/" alt="">
                  </div>
               </div>
               <div class="item-naslov">
               VERVITA XXL SOKOVNCI
               </div>
            </a>
          </div>

          <div>
            <a href="/vervita-mini-sokovnik/">
               <div class="grid-items">
                  <div class="slika">
                     <img src="img/vervita-mini-sokovnik.webp/" alt="">
                  </div>
               </div>
               <div class="item-naslov">
               VERVITA MINI SOKOVNIK
               </div>
            </a>
          </div>

          <div>
            <a href="/blendtec-blenderi/">
               <div class="grid-items">
                  <div class="slika">
                     <img src="img/blendtech-blender.webp/" alt="">
                  </div>
               </div>
               <div class="item-naslov">
               BLENDTEC BLENDERI
               </div>
            </a>
          </div>

          <div>
            <a href="/blendtec-komercijalni-blenderi/">
               <div class="grid-items">
                  <div class="slika">
                     <img src="img/blendtech-komercijalni-blenderi.webp/" alt="">
                  </div>
               </div>
               <div class="item-naslov">
               BLENDTEC KOMERCIJALNI BLENDERI
               </div>
            </a>
          </div>

          <div>
            <a href="/omniblend-v-blenderi/">
               <div class="grid-items">
                  <div class="slika">
                     <img src="img/omniblend-v-blenderi.webp/" alt="">
                  </div>
               </div>
               <div class="item-naslov">
               OMNIBLEND V BLENDERI
               </div>
            </a>
          </div>

          <div>
            <a href="/superblend-blenderi/">
               <div class="grid-items">
                  <div class="slika">
                     <img src="img/superbland-blenderi.webp/" alt="">
                  </div>
               </div>
               <div class="item-naslov">
               SUPERBLEND BLENDERI
               </div>
            </a>
          </div>

          <div>
            <a href="/kuvings-vakuumski-blenderi/">
               <div class="grid-items">
                  <div class="slika">
                     <img src="img/kuvings-vakumski-blenderi.webp/" alt="">
                  </div>
               </div>
               <div class="item-naslov">
               KUVINGS VAKUUMSKI BLENDERI
               </div>
            </a>
          </div>

          <div>
            <a href="/dehidratori/">
               <div class="grid-items">
                  <div class="slika">
                     <img src="img/dehidratori.webp/" alt="">
                  </div>
               </div>
               <div class="item-naslov">
               DEHIDRATORI
               </div>
            </a>
          </div>

          <div>
            <a href="/gulilice/">
               <div class="grid-items">
                  <div class="slika">
                     <img src="img/gulilice.webp/" alt="">
                  </div>
               </div>
               <div class="item-naslov">
               GULILICE
               </div>
            </a>
          </div>

          <div>
            <a href="/santos-komercijalni-sokovnici/">
               <div class="grid-items">
                  <div class="slika">
                     <img src="img/santos-komercijalni-sokovnici.webp/" alt="">
                  </div>
               </div>
               <div class="item-naslov">
               SANTOS KOMERCIJALNI SOKOVNICI
               </div>
            </a>
          </div>

          <div>
            <a href="/rezervni-dijelovi/">
               <div class="grid-items">
                  <div class="slika">
                     <img src="img/rezervni-dijelovi.webp/" alt="">
                  </div>
               </div>
               <div class="item-naslov">
               REZERVNI DIJELOVI
               </div>
            </a>
          </div>

      </div>

    </section>

</div>

   