<!----- KATALOG PROIZVODA ----->
<div class="container">

    <!----- GLAVNA SEKCIJA ----->
    <section class="main">
      
      <div id="lista" class="hero-text-inverse lista-proizvoda-naslov">
        Lista svih proizvoda
      </div>

      <div class="grid">
        <div class="item-wrapper">
          <div class="grid-items grid-item-1">
            <a href="../vervita-pro-kuvings-sokovnici">
             <div class="slika">
                <img src="img/vervita-pro-kuvings-sokovnici.webp" alt="">
             </div>
             <div class="brend">
                <img src="img/logo-kuvings_95_30.webp" alt="">
             </div>
          </div>
          <div class="item-naslov">
            VERVITA PRO / KUVINGS SOKOVNICI
          </div>
         </a>
        </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="img/vervita-xxl-sokovnici.webp" alt="">
               </div>
               <div class="brend">
                  <img src="img/logo-kuvings_95_30.webp" alt="">
               </div>
            </div>
            <div class="item-naslov">
              VERVITA XXL SOKOVNCI
            </div>

          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="img/vervita-mini-sokovnik.webp" alt="">
               </div>
               <div class="brend">
                  <img src="img/logo-kuvings_95_30.webp" alt="">
               </div>
            </div>
            <div class="item-naslov">
              VERVITA MINI SOKOVNIK
            </div>

          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="img/blendtech-blender.webp" alt="">
               </div>
               <div class="brend">
                  <img src="img/logo-kuvings_95_30.webp" alt="">
               </div>
            </div>
            <div class="item-naslov">
              BLENDTEC BLENDERI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="img/blendtech-komercijalni-blenderi.webp" alt="">
               </div>
               <div class="brend">
                  <img src="img/logo-kuvings_95_30.webp" alt="">
               </div>
            </div>
            <div class="item-naslov">
              BLENDTEC KOMERCIJALNI BLENDERI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="img/omniblend-v-blenderi.webp" alt="">
               </div>
               <div class="brend">
                  <img src="img/logo-kuvings_95_30.webp" alt="">
               </div>
            </div>
            <div class="item-naslov">
              OMNIBLEND V BLENDERI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="img/superbland-blenderi.webp" alt="">
               </div>
               <div class="brend">
                  <img src="img/logo-kuvings_95_30.webp" alt="">
               </div>
            </div>
            <div class="item-naslov">
              SUPERBLEND BLENDERI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="img/kuvings-vakumski-blenderi.webp" alt="">
               </div>
               <div class="brend">
                  <img src="img/logo-kuvings_95_30.webp" alt="">
               </div>
            </div>
            <div class="item-naslov">
              KUVINGS VAKUUMSKI BLENDERI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="img/dehidratori.webp" alt="">
               </div>
               <div class="brend">
                  <img src="img/logo-kuvings_95_30.webp" alt="">
               </div>
            </div>
            <div class="item-naslov">
              DEHIDRATORI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="img/gulilice.webp" alt="">
               </div>
               <div class="brend">
                  <img src="img/logo-kuvings_95_30.webp" alt="">
               </div>
            </div>
            <div class="item-naslov">
              GULILICE
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="img/santos-komercijalni-sokovnici.webp" alt="">
               </div>
               <div class="brend">
                  <img src="img/logo-kuvings_95_30.webp" alt="">
               </div>
            </div>
            <div class="item-naslov">
              SANTOS KOMERCIJALNI SOKOVNICI
            </div>
          </div>

          <div class="item-wrapper">
            <div class="grid-items grid-item-1">
               <div class="slika">
                  <img src="img/rezervni-dijelovi.webp" alt="">
               </div>
               <div class="brend">
                  <img src="img/logo-kuvings_95_30.webp" alt="">
               </div>
            </div>
            <div class="item-naslov">
              REZERVNI DIJELOVI
            </div>
          </div>

      </div>

    </section>

</div>

   